
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>Plan Adı: @ViewBag.v1</h3>
    <h3>Kişi Sayısı: @ViewBag.v2</h3>
    <h3>Plan Fiyatı: @ViewBag.v3</h3>
    <h3>Plan İçeriği: @ViewBag.v4</h3>
    <h3>Plan Çözünürlüğü: @ViewBag.v5</h3>
    <a href="/Default/StandardPlanIndex/" class="btn btn-warning">Standart Plan</a>
    <a href="/Default/BasicPlanIndex/" class="btn btn-danger">Temel Plan</a>
</div>
