@model List<RepositoryDesignPattern.EntityLayer.Concrete.Product>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Stok</th>
            <th>Fiyat</th>
            <th>Kategori</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductPrice</td>
                <td>@item.Category.CategoryName</td>
                <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Product/AddProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>